<html>
<head>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<title>Know-How Connect Thanks</title>
</head>


<body>
<div id="wrap">
	<div class="container">

			<div class="row article">
				<div class="small-12 medium-12 large-12 columns">
				
					<div class="panel contents">
				<br>
						<div class="small-12 medium-10 large-10 medium-centered large-centered columns">
					  <img src="../images/thankyou.png"/>
					  
					  
					  
					
					  <h2 class="text-center">Thank you!</h2>

						<p>Thank you for taking part in this key phase of developing the Know-How Connect app. Once the process of onboarding all our Know-How colleagues is complete, we will start releasing key features of the app.</p>
						
						<p>Beginning with the feature you have just helped form... Know-How People, a browsable view of Know-How, its departments, teams and people.</p>
						<p>As soon as it's ready to go live, we'll send a notification to your inbox.</p>
						<p>Thanks again,</p>

						<p>Know-How</p>

				
					</div>
		<p>&nbsp;</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>