<html>
<head>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<title>Know-How Connect Thanks</title>
</head>


<body>
<div id="wrap">
	<div class="container">

			<div class="row article">
				<div class="small-12 medium-12 large-12 columns">
				
					<div class="panel contents">
				<br>
						<div class="small-12 medium-10 large-10 medium-centered large-centered columns">
					  <img src="../images/thankyou.png"/>
					  
					  
					  
					
					  <h2 class="text-center">Thank you!</h2>

						<p>Thank you for registering for the Know-How Connect app. The first part of the app that's available is the teams and people section</p>
						
						<p>Now that you've registered, we'll send a notification to your inbox with a one off direct login to help you get started</p>

						<p>Know-How Connect Team</p>

				
					</div>
		<p>&nbsp;</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>