/* ========================================================================================================================================================================
   Colours
   ===================================================================================================================================================================== */

/* ====================================[ Base Colours]====================================*/ 
//colors
$titleFont: #333333; 
$bodyFont: #555555; 
$teal:#29C1AC;
$mediumTeal:#30AD9A;
$darkTeal:#217F7C;
$white: #ffffff;

/* ====================================[ Link colours]====================================*/ 
$linkBlue:#00749a;/*changed*/
$kanaLink:#15171E;/*changed*/
$activeOffCanvas:#646c80;/*changed*/
 
/* ====================================[ Home  & Related Panels]====================================*/ 
$purple:#734993;
$blue:#00aeef;/*changed*/
$orange:#FFA149; 
$red:#ed1c24;/*changed*/
$yellow:#fdb913;

/* ====================================[ Grey Tints ]====================================*/ 
$darkGrey:#c1c1c1;
$mediumGrey:#dddddd;
$lightGrey: #eaeaea;/*changed*/
$lightestGrey: #f4f4f4;
$black: #000000;

/* ========================================================================================================================================================================
   Fonts
   ===================================================================================================================================================================== */
//fonts
$skyReg: skytextregular;
$skyMed: skytextmedium;
$skyText: sky text;
$hel: helvetica;
$arial: arial;
$know-how: know-how;


/* ========================================================================================================================================================================
   iPad Fix
   ===================================================================================================================================================================== */
*{
/* Prevent any object from being highlighted upon touch event*/
-webkit-tap-highlight-color: rgba(0,0,0,0); }